.App {
    height: 3080px;
    background: rgba(255, 255, 255, 0.73);
}

.Header {
    display: flex;
    height: 78px;
    padding: 12px 40px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 6px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.Header .Logo {
    display: flex;
    align-items: center;
}

.Header .Logo img {
    width: 50px;
    height: 50px;
}

.Header .Logo h2 {
    display: flex;
    width: 130px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Header a {
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.Header .links {
    display: flex;
    width: 716px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.Header .log {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #000;
}

.Header .log a {
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Description img {
    width: 100%;
    border-bottom: 3px solid #000;
    background: lightgray 50% / cover no-repeat;
}

.Description .cadre {
    position: absolute;
    left: 54px;
    bottom: 30px;
    width: 762px;
    height: 384px;
    background: rgba(195, 195, 195, 0.60);
}

.Description .cadre p {
    display: flex;
    position: absolute;
    left: 60px;
    bottom: 50px;
    width: 649px;
    height: 231px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Judson;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.filtres {
    display: flex;
    height: 99px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.filtres div {
    width: 1384px;
    height: 79px;
    background: #D9D9D9;
    flex-shrink: 0;
}

.decoration {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

.meubles {
    display: flex;
    width: 1524px;
    align-items: center;
    align-content: flex-start;
    gap: 117px 160px;
    flex-wrap: wrap;
}

input {
    display: flex;
    width: 600px;
    height: 58px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#checkbutton {
    display: flex;
    width: 200px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Amaranth;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: green;
}